$point:#d9534f !default;

// bootstrap custom
.nav-pills{margin-top:30px;}
.nav-pills>li>a{color:#333;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{background:$point;}

// 타이틀 영역
.titleSec{
  i{color:$point;}
}

// 사이트, 카테고리 등록하기
.addFormSec{width:100%;overflow: hidden;
  h2{font-size:18px;
    i{font-size:14px;color:$point;}
  }
  ul{font-size:13px;
    li{padding-bottom:4px;}
  }
}


// 리스트 디자인 커스텀
.list-group{
  .tags{padding-bottom:5px;width:100%;overflow:hidden;
    .label{margin-right:2px;display:inline-block;}
  }
  .list-group-item-text{font-size:12px;}
  .reg{text-align:right;font-size:11px;color:#999;}
}
.postsList .list-group{
  .tags{width:auto;float:left;}
  .title{float:left;padding:2px 0 0 5px;font-size:13px;}
  .reg{padding-top:2px;}
}