.nav-pills {
  margin-top: 30px; }

.nav-pills > li > a {
  color: #333; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #d9534f; }

.titleSec i {
  color: #d9534f; }

.addFormSec {
  width: 100%;
  overflow: hidden; }
  .addFormSec h2 {
    font-size: 18px; }
    .addFormSec h2 i {
      font-size: 14px;
      color: #d9534f; }
  .addFormSec ul {
    font-size: 13px; }
    .addFormSec ul li {
      padding-bottom: 4px; }

.list-group .tags {
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden; }
  .list-group .tags .label {
    margin-right: 2px;
    display: inline-block; }

.list-group .list-group-item-text {
  font-size: 12px; }

.list-group .reg {
  text-align: right;
  font-size: 11px;
  color: #999; }

.postsList .list-group .tags {
  width: auto;
  float: left; }

.postsList .list-group .title {
  float: left;
  padding: 2px 0 0 5px;
  font-size: 13px; }

.postsList .list-group .reg {
  padding-top: 2px; }
